@import "../../styles/mixins";

:host() {
    height: 100%;
}

.wrapper {
    height: 100%;
    @include desktop() {
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../../assets/images/trianglify.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title,.subtitle {
            color: white;
        }
    }
}

.header {
    height: 48%;
    max-height: 360px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../../assets/images/login.jpg');
    background-size: cover;
    background-position: center;

    @include boxShadow(1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title, .subtitle {
        color: white;
    }    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;

    .loginCard {
        width: 90%;
        
        @include touch() {
            position: relative;
            top: -30px;
        }
        
        @include from($desktop) {
            margin-bottom: 24px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .field {
            width: 100%;
            margin-bottom: 0;
            height: 60px;
        }

        button {
            width: 90%;
            margin-top: 12px;
        }
    }

    .buttons {
        width: 90%;

        .column {
            color: white;
        }

        .facebook, .google {
            width: calc(50% - 10px);
            height: 50px;
        }
        
        .facebook {
            background: #3B5998;
        }

        .google {
            margin-left: 10px;
            background: #DB4437;
        }

        .create {
            margin-top: 12px;
        }
    }
}